@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@600&display=swap');

$primary: #2b3890;
$font-size-base: 0.9rem;
// set changes
@import "bootstrap";

body {
    --bs-font-sans-serif: 'Inter', sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
}

.font-display {
    font-family: 'Montserrat';
    font-weight: 600;
}
